img{
    height: 350px;
}
.super-mario{
    position: absolute;
    z-index: 1;
}
.goomba{
    position: absolute;
    top: 400px;
}
.super-mario, .goomba{
    left: 50px;
}
.baloon{
    position: absolute;
    height: 150px;
    top: 200px;
    left: 300px;
    z-index: 1;
}

.bowser{
    position: absolute;
    top: 250px;
    left: 500px;
}


p{
    font-weight: bold;
    position: absolute;
    top: 240px;
    left: 330px;
    z-index: 2;
}
