/* #header-main, #sobre, #o-que-sou, #classificacao, #grandes-cacadores, #visao, #referencias */
body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
}
p{
    text-align: justify;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
#header-main{
    background-color: rgb(0, 128, 128);
    padding: 20px 0;
}
h1{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    color: white;
}
h2, nav ul li a{
    color: rgb(0, 128, 128);
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
nav ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 25px;
    background-color:white;
    border-radius: 10px;
}
nav ul li:hover{
    background-color: rgb(221, 218, 218);
}
nav ul li a{
    font-weight: bold;
}
img{
    max-width: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
main{
    height: 100%;
    margin: 30px 20px;
}
#sobre{
    padding: 10px 20px 0 20px;
    display: inline-block;
    width: 65%;
    float: left;
}
#sobre section{
    margin-bottom: 40px;
}
#classificacao{
    display: flex;
    justify-content: center;
}
#classificacao div{
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(1, 94, 94);
}
#classificacao h3{
    text-align: center;
}
th{
    text-align: right;
    padding-right: 10px;
}
#visao{
    margin-bottom: 0;
}
aside{
    height: auto;
    display: inline-block;
    width: 29%;
    float: right;
}
#referencias{
    clear: both;
}